<div class="message-card <%= message.parent_message_id ? 'child-message' : 'parent-message' %>">
      <p>    
      <!-- Check if the message is less than 24 hours old -->
      <% 
      const messageDate = new Date(message.created_at);
      const now = new Date();
      const timeDifference = now - messageDate;  // Difference in milliseconds
      const oneDay = 24 * 60 * 60 * 1000;  // Milliseconds in one day
      
      if (timeDifference < oneDay) { 
      %>
        <span class="new-message uppercase">new message (<%= new Date(message.created_at).toLocaleString() %>)</span>
      <% } %>
    </p>
  <div class="message-header">
    <div class="message-avatar-container margin-right">
      <div 
        class="avatar-container avatar-container-size-small avatar-background border-default circle" 
          <%- include('./partials/avatar-color-data-helper.ejs', { obj: message }) %>
        >
        <span class="emoji emoji-size-small" role="image" aria-label="avatar image">
          <%= message.avatar_type %>
        </span>
      </div>          
    </div>
    <div class="message-name-and-title">
      <p class="message-name bold">
        <%= message.first_name %>
        <span class="<%= canPerformHasRole(currentUser, 'members-only', message) ? '' : 'hidden' %>">
          <%= message.last_name %>
        </span>
      </p>
      <!-- <p class="message-title bold"><span class="emoji"><%#= message.parent_message_id ? '↪' : '' %></span> <%#= message.title %></p> -->
      <p class="message-title bold"><%= message.title %></p>
    </div>
  </div>
  <div class="message-badge-container uppercase <%= canPerformHasRole(currentUser, 'members-only', message) ? '' : 'hidden' %>">
    <% if (message.is_edited) { %> 
      <p>
        <span class="emoji">✏</span> <span>edited</span>     
      </p>
    <% } %>
      <% if (message.permission_status === "admin") { %> 
        <p>
          <span class="emoji"><%= config.admin_emoji %></span> <span>admin</span>  
        </p>
      <% } else if (message.permission_status === "member") { %> 
        <p>
          <span class="emoji"><%= config.member_emoji %></span> <span>member</span>          
        </p>
      <% } else { %> 
        <p>
          <span class="emoji"><%= config.guest_emoji %></span> <span>guest</span>          
        </p>
      <% } %>
      <p>
        <span class="emoji"><%= message.verified_by_admin ? '✔' : '❌' %></span> 
        <span><%= message.verified_by_admin ? 'verified' : 'not verified' %></span>     
      </p>
  </div>
  <% if (message.is_sticky) { %>   
  <% console.log(message.is_edited) %>   
  <div class="message-details uppercase important-details"> 
    <span>pinned message - important!</span> 
  </div>  
  <% } else { %>
  <div class="message-details uppercase regular-details">
    <p>
      <span>created:</span> <span><%= new Date(message.created_at).toLocaleDateString() %></span>   
    </p>
    <p>
      <span>expires:</span> <span><%= message.soft_expiry.toLocaleDateString() %></span>
    </p>
  </div>
   <% } %>
  <div class="message-body">
    <!-- <p class="<%#= message.is_edited ? 'font-color-green' : 'font-color-red' %>"> -->
      <%= message.body %>
    </p>
  </div>
  <div class="message-footer">
    <div class="message-button-container">
      <form action="/app/message-boards/sticky-message" method="POST">
        <%# CSRF Token - hidden input for forms %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="message_id" value="<%= message.id %>" />
        <input type="hidden" name="slug" value="<%= topic.slug %>" />
        <button 
          class="button-default message-button <%= canPerformHasRole(currentUser, 'sticky-message', message) ? '' : 'hidden' %>" 
          type="submit"
        >
          <span class="emoji">
            <%= message.is_sticky ? '📌‼' : '❌📌' %>
          </span>
        </button>
      </form>
      <!-- MODAL (warning message deletion by message author or admin only) -->
      <!-- NOTE - data-topic-slug="<%#= topic.slug %>" must use topic.slug, as using message.topic_slug, which is available, will be deleted along with the whole message and lose its reference that is used to redirect back to the same /app/message-boards/${topicSlug}, in other words, not using topic.slug messes up teh redirect.-->
      <button 
        class="button-default message-button action-target-button <%= canPerformHasRole(currentUser, 'admin-or-author', message) ? '' : 'hidden' %>" 
        type="button"
        data-section="modal-warning-message-deletion"
        data-title="modal-title-warning-message-deletion"
        data-action="/app/message-boards/delete-message"
        data-topic-slug="<%= topic.slug %>"
        data-target-id="<%= message.id %>"
      >
        <span class="emoji">🗑</span>
      </button>

      <!-- MODAL (warning message deletion by message author or admin only) -->
      <button 
        class="button-default message-button action-target-button <%= canPerformHasRole(currentUser, 'author-only', message) ? '' : 'hidden' %>" 
        type="button"
        data-section="modal-edit-message"
        data-title="modal-title-edit-message"
        data-action="/app/message-boards/edit-message"
        data-topic-slug="<%= topic.slug %>"
        data-target-id="<%= message.id %>"
      >
        <span class="emoji">✏</span>
      </button>

      <!-- TODO - BELOW NEEDS TO BE HIDDEN TO THE PERSON WHO WROTE IT **OR** DOES IT??????-->

      <!-- MODAL (reply message) -->
      <button 
        class="button-default message-button action-target-button"
        type="button"
        data-section="modal-reply-message"
        data-title="modal-title-reply-message"
        data-action="/app/message-boards/reply-message"
        data-message-title="<%= message.title %>"
        data-topic-slug="<%= message.topic_slug %>"
        data-topic-name="<%= message.topic_name %>"
        data-target-id="<%= message.id %>"
        >
        <span class="emoji">↪</span>(<%= message.reply_count %>)
      </button>
      
      <form action="/app/message-boards/like-message" method="POST">
        <%# CSRF Token - hidden input for forms %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="message_id" value="<%= message.id %>" />
        <input type="hidden" name="slug" value="<%= topic.slug %>" />
        <button 
          class="button-default message-button" 
          type="submit"
        >
          <span class="emoji">
            <%= message.like_count ? '❤' : '🤍' %> 
          </span> 
          (<%= message.like_count %>)
        </button>
      </form>
    </div>
  </div>
</div>
