<div id="modal" class="modal hidden" role="dialog" aria-modal="true">
  <div class="modal-overlay" data-close-modal></div>
  <!-- <div class="modal-content" role="document"> -->
  <div class="modal-content-card" role="document">
    <button class="close-button" aria-label="close modal" data-close-modal>
      <span class="emoji">❌</span>
    </button>

    <!-- BECOME MEMBER -->
    <div class="modal-section hidden" id="modal-become-member">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-become-member">be a member</h1>
      </div>
      <%- include('./modals/become-member.ejs') %>
    </div>

    <!-- NEW POST -->
    <div class="modal-section hidden" id="modal-new-post">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-new-post">
          new post by <span class="italic"><%= currentUser.first_name %></span>
        </h1>
      </div>
      <%- include('./modals/new-post.ejs') %>
    </div>

    <!-- EDIT PROFILE (USER) -->
    <div class="modal-section hidden" id="modal-edit-profile">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-edit-profile">edit profile</h1>
      </div>
      <%- include('./modals/edit-profile.ejs') %>
    </div>

    <!-- WARNING -->
    <div class="modal-section hidden" id="modal-warning">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-warning">warning</h1>
      </div>
      <%#- include('./modals/warning.ejs') %>
    </div>

    <!-- CHANGE AVATAR -->
    <div class="modal-section hidden" id="modal-change-avatar-user">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-change-avatar-user">Edit Avatar</h1>
      </div>
      <%- include('./modals/change-avatar.ejs') %>
    </div>
  </div>
</div>
