<div id="modal" class="modal hidden" role="dialog" aria-modal="true">
  <div class="modal-overlay" data-close-modal></div>

  <!-- <div class="modal-content" role="document"> -->
  <div class="modal-content-card" role="document">
    <button class="close-button" aria-label="close modal" data-close-modal>
      <span class="emoji">❌</span>
    </button>

    <!-- BECOME MEMBER -->
    <div class="modal-section hidden" id="modal-become-member">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-become-member">be a member</h1>
      </div>
      <%- include('./modals/become-member.ejs') %>
    </div>

    <!-- NEW POST -->
    <div class="modal-section hidden" id="modal-new-post">
      <h1 id="modal-title-new-post">New Post</h1>
      <%- include('./modals/new-post.ejs') %>
    </div>

    <!-- EDIT PROFILE (USER) -->
    <div class="modal-section hidden" id="modal-edit-profile-user">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-edit-profile-user">edit your profile</h1>
      </div>
      <%#- include('./modals/edit-profile-user.ejs') %>
    </div>

    <!-- EDIT PROFILE (ADMIN) -->
    <div class="modal-section hidden" id="modal-edit-profile-admin">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-edit-profile-admin">edit user profile</h1>
      </div>
      <%- include('./modals/edit-profile-admin.ejs') %>
    </div>

    <!-- CREATE PROFILE (ADMIN) -->
    <div class="modal-section hidden" id="modal-create-profile-admin">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-create-profile-admin">create user profile</h1>
      </div>
      <%- include('./modals/create-profile-admin.ejs') %>
    </div>

    <!-- CHANGE AVATAR -->
    <div class="modal-section hidden" id="modal-change-avatar">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-change-avatar">Change Avatar</h1>
      </div>
      <%- include('./modals/change-avatar.ejs') %>
    </div>
  </div>
</div>
