<div class="password-rules-container">
  <h3><span class="emoji">🔐</span>Passwords must contain:</h3>
  <p><span class="emoji">↔</span> at least <%= passwordRules.minLength %> characters</p>
  <p><span class="emoji">🔡</span> at least <%= passwordRules.minLowercase %> lowercase letter</p>
  <p><span class="emoji">🔠</span> at least <%= passwordRules.minUppercase %> uppercase letter</p>
  <p><span class="emoji">🔢</span> at least <%= passwordRules.minNumbers %> number</p>
  <p>
    <span class="emoji">🔣</span> at least <%= passwordRules.minSpecialChars %> special character: <%= passwordRules.specialChars %>
  </p>
</div>
