<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="page-title-off-card uppercase">
        <h1>edit user profile</h1>
      </div>
      <div class="card">
        <div class="page-title uppercase">
          <h1><%=user.first_name%> <%=user.last_name%></h1>
        </div>
        <form action="/app/admin-edit/<%= user.id %>" method="POST">
            <label class="capitalize" for="first-name-admin-edit-page">
                first name
            </label>
            <input
                id="first-name-admin-edit-page"
                type="text"
                name="first_name"
                value="<%= formData?.first_name || '' %>"
                required
            />
            <label class="capitalize" for="last-name-admin-edit-page">
                last name
            </label>
            <input
                id="last-name-admin-edit-page"
                type="text"
                name="last_name"
                value="<%= formData?.last_name || '' %>"
                required
            />
            <div class="element-container-profile-block">
              <div class="element-container-row-space-evenly">
                <div class="element-container-col-default">
                  <label for="permission-status-admin-edit-page">
                      permission status
                  </label>
                  <select
                      id="permission-status-admin-edit-page"
                      class="profile-block-select lowercase"
                      name="permission_status"
                      <%= canPerformHasRole(currentUser, 'changePermissionStatus', formData) ? '' : 'disabled' %>
                      required
                  >
                    <option value="guest" <%= formData?.permission_status === "guest" ? "selected" : "" %>>👤 guest </option>
                    <option value="member" <%= formData?.permission_status === "member" ? "selected" : "" %>>⭐ member </option>
                    <option value="admin" <%= formData?.permission_status === "admin" ? "selected" : "" %>>🔑 admin </option>
                  </select>
                </div>  
                <div class="element-container-col-default">
                <label for="is-active-admin-edit-page">active status</label>
                <select
                    id="is-active-admin-edit-page"
                    class="profile-block-select lowercase"
                    name="is_active"
                    <%= canPerformHasRole(currentUser, 'changeIsActive', formData) ? '' : 'disabled' %>
                    required
                >
                    <option value="false" <%= String(formData?.is_active) === "false" ? "selected" : "" %>>🔴 false</option>
                    <option value="true" <%= String(formData?.is_active) === "true" ? "selected" : "" %>>🟢 true</option>
                </select>
                </div> 
              </div>
              <div class="element-container-row-space-evenly">
                <div class="element-container-col-default">
                  <label for="verified-by-admin-admin-edit-page">admin verified</label>
                  <select
                    id="verified-by-admin-admin-edit-page"
                    class="profile-block-select lowercase"
                    name="verified_by_admin"
                    <%= canPerformHasRole(currentUser, 'changeVerifiedByAdmin', formData) ? '' : 'disabled' %>
                    required
                  >
                  <option value="false" <%= String(formData?.verified_by_admin) === "false" ? "selected" : "" %>>🔴 false</option>
                  <option value="true" <%= String(formData?.verified_by_admin) === "true" ? "selected" : "" %>>🟢 true</option>
                  </select>
                </div>
                <div class="element-container-col-default">
                <label for="invite-sent-admin-edit-page">invite sent</label>
                <select
                  id="invite-sent-admin-edit-page"
                  class="profile-block-select lowercase"
                  name="guest_upgrade_invite"
                  <%= canPerformHasRole(currentUser, 'changeMemberRequest', formData) ? '' : 'disabled' %>
                  required
                >
                  <option value="false" <%= String(formData?.guest_upgrade_invite) === "false" ? "selected" : "" %>>🔴 false</option>
                  <option value="true" <%= String(formData?.guest_upgrade_invite) === "true" ? "selected" : "" %>>🟢 true</option>
                </select>
                </div>
                <div class="element-container-col-default">
                <label for="invite-decision-admin-edit-page">invite decision</label>
                <select
                  id="invite-decision-admin-edit-page"
                  class="profile-block-select lowercase"
                  name="invite_decision"
                  <%= canPerformHasRole(currentUser, 'changeMemberRequest', formData) ? '' : 'disabled' %>
                  required
                >
                  <option value="none" <%= formData?.invite_decision === "not_sent" ? "selected" : "" %>>⚪ none</option>
                  <option value="declined" <%= formData?.invite_decision === "declined" ? "selected" : "" %>>🔴 declined</option>
                  <option value="accepted" <%= formData?.invite_decision === "accepted" ? "selected" : "" %>>🟢 accepted</option>
                </select>
                </div>                                    
              </div>
            </div>
          <div class="element-container-row-start-center">
            <label class="capitalize" for="email-admin-edit-page">email</label>
            <% if (errors && errors.some(e => e.param === 'email')) { %>
              <% errors.filter(e => e.param === 'email').forEach(e => { %>
                <span class="error-message">[<%= e.msg %>]</span>
              <% }) %>
            <% } %>
          </div>
            <input
                id="email-admin-edit-page"
                class="lowercase"
                type="email"
                name="email"
                value="<%= formData?.email || '' %>"
                required
            />
            <div class="element-container-row-space-between">
                <div class="element-container-col-start-center">
                <label class="capitalize" for="phone-admin-edit-page">phone</label>
                <input
                    id="phone-admin-edit-page"
                    type="tel"
                    name="phone"
                    value="<%= formData?.phone || '' %>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label class="capitalize" for="birthdate-admin-edit-page">
                    birthdate
                </label>
                <input
                    id="birthdate-admin-edit-page"
                    type="date"
                    name="birthdate"
                    value="<%= formData?.birthdate || '' %>"
                    required
                />
                </div>
            </div>
          <div class="element-container-row-start-center">
            <label for="password-admin-edit-page">password</label>
            <% if (errors && errors.some(e => e.param === 'password')) { %>
              <% errors.filter(e => e.param === 'password').forEach(e => { %>
                <span class="error-message">[<%= e.msg %>]</span>
              <% }) %>
            <% } %>
          </div>
            <input
                id="password-admin-edit-page"
                type="password"
                name="password"
                placeholder="select new password"
            />
          <div class="element-container-row-start-center">
            <label for="confirm-password-admin-edit-page">confirm password</label>
            <% if (errors && errors.some(e => e.param === 'confirm_password')) { %>
              <% errors.filter(e => e.param === 'confirm_password').forEach(e => { %>
                <span class="error-message">[<%= e.msg %>]</span>
              <% }) %>
            <% } %>
          </div>
            <input
                id="confirm-password-admin-edit-page"
                type="password"
                name="confirm_password"
                placeholder="re-enter new password"
            />
            <div class="background-yellow border-default margin-top-bottom">
              <%- include('./partials/password-rules.ejs') %>
            </div>
            <label class="capitalize" for="street-address-admin-edit-page">
                street address
            </label>
            <input
                id="street-address-admin-edit-page"
                type="text"
                name="street_address"
                value="<%= formData?.street_address || '' %>"
            />
            <div class="element-container-row-space-between">
                <div class="element-container-col-start-center">
                <label class="capitalize" for="apt-unit-admin-edit-page">
                    apt/unit
                </label>
                <input
                    id="apt-unit-admin-edit-page"
                    type="text"
                    name="apt_unit"
                    value="<%= formData?.apt_unit || '' %>"
                />
                </div>
                <div class="element-container-col-start-center">
                  <label class="capitalize" for="us-state-admin-edit-page">
                      state
                  </label>
                  <select id="us-state-admin-edit-page" name="us_state">
                    <option value="" disabled <%= !formData?.us_state ? "selected" : "" %>>Choose state</option>
                    <% usStates.forEach((state) => { %>
                      <option value="<%= state.code %>" <%= formData?.us_state === state.code ? "selected" : "" %>>
                        <%= state.name %>
                      </option>
                    <% }) %>
                  </select>
                </div>
            </div>
            <div class="element-container-row-space-between">
                <div class="element-container-col-start-center">
                <label class="capitalize" for="city-admin-edit-page"> city </label>
                <input
                    id="city-admin-edit-page"
                    type="text"
                    name="city"
                    value="<%= formData?.city || '' %>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label class="capitalize" for="zip-code-admin-edit-page"> zip </label>
                <input
                    id="zip-code-admin-edit-page"
                    type="text"
                    name="zip_code"
                    value="<%= formData?.zip_code || '' %>"
                />
                </div>
            </div>
            <div class="element-container-row-space-between">
                <div class="element-container-col-start-center">
                <label class="font-size-small" for="avatar-type-admin-edit-page"> avatar </label>
                <input
                    id="avatar-type-admin-edit-page"
                    class="emoji capitalize"
                    type="text"
                    name="avatar_type"
                    value="<%= formData?.avatar_type || '' %>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label class="font-size-small" for="avatar-color-fg-admin-edit-page"> colorFG </label>
                <input
                    id="avatar-color-fg-admin-edit-page"
                    class="lowercase"
                    type="text"
                    name="avatar_color_fg"
                    value="<%= formData?.avatar_color_fg || '' %>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label class="font-size-small" for="avatar-color-bg-top-admin-edit-page"> colorBG↑ </label>
                <input
                    id="avatar-color-bg-top-admin-edit-page"
                    class="lowercase"
                    type="text"
                    name="avatar_color_bg_top"
                    value="<%= formData?.avatar_color_bg_top || '' %>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label class="font-size-small" for="avatar-color-bg-bottom-admin-edit-page"> colorBG↓ </label>
                <input
                    id="avatar-color-bg-bottom-admin-edit-page"
                    class="lowercase"
                    type="text"
                    name="avatar_color_bg_bottom"
                    value="<%= formData?.avatar_color_bg_bottom || '' %>"
                />
                </div>
            </div>
            <label class="capitalize" for="notes-admin-edit-page">notes</label>
            <textarea id="notes-admin-edit-page" name="notes" class="margin-bottom"><%= formData?.notes || '' %></textarea>
            <div class="button-container-col">
              <a class="button-default wide-button cancel-button" href="/app/admin">cancel changes</a>
              <button class="button-default wide-button submit-button" type="submit">submit profile changes</button>
            </div>
        </form>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
