<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="page-title-off-card uppercase">
        <h1>admin panel</h1>
      </div>
      <% if (users.length === 0) { %> 
        <p>No users yet. Be the first to join!</p>
        <% } else { users.forEach(function(user) { %>
        <div class="card
        <% if (user && user.permission_status === "admin") { %>
          admin-card
          <% } else if (user && user.permission_status === "member") { %>
          member-card user-card hidden
          <% } else if (user && user.permission_status === "guest" && user.member_request === true) { %>
          guest-card user-card hidden upgrade-me
          <% } else { %>
          guest-card user-card hidden
          <% } %>
        <% if (user && user.is_active === false) { %> 
            dead-account
        <% } %>
          ">
          <div class="element-container-row-center-start margin-bottom">
              <div 
                class="avatar-container avatar-container-size-small avatar-background circle " 
                style="
                  --avatar-color-fg: <%= user.avatar_color_fg || 'var(--off-black)' %>;
                  --avatar-color-bg-top: <%= user.avatar_color_bg_top || 'var(--off-white)' %>;
                  --avatar-color-bg-bottom: <%= user.avatar_color_bg_bottom || 'var(--off-gray)' %>;
                ">
                <span class="emoji emoji-size-small" role="image" aria-label="avatar image">
                  <%#= user.avatarLetter %>
                  <%= user.avatar_type %>
                </span>
              </div>   
              <h2 class="admin-panel-name italic"><%= user.first_name %> <%= user.last_name %></h2>         
          </div>

          <div class="admin-quick-view-bar">
            <span>
              <% if (user && user.permission_status === "admin") { %>
                <p class="emoji">🗝</p>
              <% } else if (user && user.permission_status === "member") { %>
                <p class="emoji">⭐</p>  
              <% } else { %>
                <p class="emoji">👤</p>  
              <% } %>
            </span>
            <span>
            <% if (user && user.verified_by_admin === true) { %>
              <p class="emoji font-color-green">✔</p> 
            <% } else { %>
              <p class="emoji font-color-red">❌</p>  
            <% } %>
            </span>
            <% if (user.message_count) { %>
              <span class="font-color-black">
                <p><%= user.message_count %></p>
              </span>
            <% } %>
            <% if (user.birthdate) { %>
              <span class="font-color-black">
                <p class="emoji font-color-red"><%= user.zodiacSign %></p>
                (<p class="emoji font-color-green"><%= user.realZodiacSign %></p>)
              </span>
            <% } %>
            <% if (user.birthdate) { %>
              <span class="font-color-black">
                <p class="emoji"><%= user.chineseZodiacSign %></p>
              </span>
            <% } %>
          </div>
          <div class="profile-data-container hidden">
            <dl class="profile-data-dl margin-bottom">
              <div class="neighbor-relevant-data">
                <dt class="capitalize">name</dt>
                <dd class="capitalize"><%= user.first_name %> <%= user.last_name %></dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">status</dt>
                <dd><%= user.permission_status %></dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">verified</dt>
                <dd class="<%= user.verified_by_admin ? 'font-color-green' : 'font-color-red' %>"><%= user.verified_by_admin %></dd>
              </div>
              <!-- TODO - ??? if status === member, then show; else hidden -->
              <div class="app-relevant-data">
                <dt class="capitalize">upgrade</dt>
                <dd>member request (<span class="<%= user.member_request ? 'font-color-green' : 'font-color-red' %>"><%= user.member_request %></span>)</dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">activity</dt>
                <dd>active status (<span class="<%= user.is_active ? 'font-color-green' : 'font-color-red' %>"><%= user.is_active%></span>)</dd>
              </div>
              <div class="neighbor-relevant-data">
                <dt class="capitalize">email</dt>
                <dd class="word-breaker"><%= user.email%></dd>
              </div>
              <div class="<%= user.phone ? '' : 'hidden' %> neighbor-relevant-data">
                <dt class="capitalize">phone</dt>
                <dd><%= user.phone %></dd>
              </div>
              <div class="neighbor-relevant-data">
                <dt class="capitalize">birthdate</dt>
                <dd><%= user.formattedBirthdate %> (age: <%= user.age %>)</dd>
              </div>
              <div class="<%= user.street_address ? '' : 'hidden' %> neighbor-relevant-data">
                <dt class="capitalize">street</dt>
                <dd><%= user.street_address %></dd>
              </div>
              <div class="<%= user.apt_unit ? '' : 'hidden' %> neighbor-relevant-data">
                <dt class="capitalize">apt/unit</dt>
                <dd><%= user.apt_unit %></dd>
              </div>
              <div class="<%= user.city ? '' : 'hidden' %> neighbor-relevant-data">
                <dt class="capitalize">city</dt>
                <dd><%= user.city %></dd>
              </div>
              <div class="<%= user.us_state ? '' : 'hidden' %> neighbor-relevant-data">
                <dt class="capitalize">state</dt>
                <dd><%= user.us_state %></dd>
              </div>
              <div class="<%= user.zip_code ? '' : 'hidden' %> neighbor-relevant-data">
                <dt class="capitalize">zip code</dt>
                <dd><%= user.zip_code %></dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">count</dt>
                <dd><%= user.message_count %> posts</dd>
              </div>
              <div class="<%= user.avatar_type ? '' : 'hidden' %> app-relevant-data">
                <dt class="capitalize">avatar</dt>
                <dd><span class="emoji regular"><%= user.avatar_type %></span></dd>
              </div>
              <div class="<%= user.avatar_color_fg ? '' : 'hidden' %> app-relevant-data">
                <dt class="capitalize">colorFG</dt>
                <dd><%= user.avatar_color_fg %></dd>
              </div>
              <div class="<%= user.avatar_color_bg_top ? '' : 'hidden' %> app-relevant-data">
                <dt class="capitalize">colorBG↑</dt>
                <dd><%= user.avatar_color_bg_top %></dd>
              </div>
              <div class="<%= user.avatar_color_bg_bottom ? '' : 'hidden' %> app-relevant-data">
                <dt class="capitalize">colorBG↓</dt>
                <dd><%= user.avatar_color_bg_bottom %></dd>
              </div>
              <!-- <div class="<%#= user.notes ? '' : 'hidden' %> app-relevant-data">
                <dt class="capitalize">notes</dt>
                <dd><%#= user.notes %></dd>
              </div> -->
              <% const notesValue = (user.notes || '').trim(); %>
              <div class="<%= notesValue ? '' : 'hidden' %> app-relevant-data">
                <dt class="capitalize">notes</dt>
                <dd><%= notesValue %></dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">created</dt>
                <dd><%= user.formattedCreateDate %></dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">updated</dt>
                <dd><%= user.formattedUpdateDate %></dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">last log</dt>
                <dd><%#= user.formattedUpdateDate %> keep?</dd>
              </div>
            </dl>
            <div class="button-container-col">
              <% if (user && user.permission_status !== "admin") { %>
                <button 
                  class="button-default wide-button delete-button" 
                  data-section="modal-warning-account-deletion"
                  data-title="modal-title-warning-account-deletion"
                  data-target-id="<%= user.id %>"
                  data-action="/app/admin/delete-user-account"
                >
                  delete this user
                </button>
              <% } %>
              <%# if (user && user.permission_status === "guest" && user.verified_by_admin === false) { %>
                <!-- <button class="button-default wide-button">admin verify user</button> -->
              <%# } %>
              <!-- A guest has clicked upgrade and set flag to true, admin's turn to see the button and decide whether to click and make upgrade happen -->
              <%# if (user && user.permission_status === "guest" && user.member_request === true) { %>
                <!-- <button class="button-default wide-button">upgrade to member</button> -->
              <%# } %>
                <!-- <button 
                  class="wide-button edit-profile-admin-button"
                  data-section="modal-edit-profile-admin"
                  data-title="modal-title-edit-profile-admin"
                 data-target-id="<%#= user.id %>">
                  update this profile
                </button> -->
                <a class="button-default wide-button" href="/app/admin-edit/<%= user.id %>">edit this profile</a>
                <!-- <button 
                  class="wide-button edit-change-avatar-button" 
                  data-section="modal-change-avatar-admin"
                  data-title="modal-title-change-avatar-admin"
                 data-target-id="<%#= user.id %>"
                  >
                  change this avatar
                </button> -->
            </div>
          </div>
          <br>
          <div class="button-container-col">
          <!-- TODO - should the admin account be deletable? A: NO!-->
          <% if (user && user.permission_status === "admin") { %>
            <!-- <a class="button-default wide-button" href="/app/????">create new user</a> -->
            <!-- <button 
              class="wide-button create-profile-admin-button"
              data-section="modal-create-profile-admin"
              data-title="modal-title-create-profile-admin"
              >
              create new user
            </button> -->
            <a class="button-default wide-button" href="/app/admin-create">create new user</a>
            <a class="button-default wide-button" href="/app/admin-???">open site controls</a>
            <button id="show-guests-button" class="button-default wide-button" type="button">open guest profiles</button>
            <button id="show-members-button" class="button-default wide-button" type="button">open member profiles</button>
          <% } %> 
            <button class="button-default wide-button show-profile-button" type="button">open this profile</button>
          </div>
        </div>
      <% }) %>
    <% } %>
    </main>
    <%- include('./partials/modal-root.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
