<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="page-title-off-card uppercase">
        <h1>edit user profile</h1>
      </div>
      <div class="card">
        <div class="page-title uppercase">
          <h1><%=user.first_name%> <%=user.last_name%></h1>
        </div>
        <form action="/app/admin-edit/<%= user.id %>" method="POST">
            <label class="capitalize" for="first-name-admin-edit-page">
                first name (fname)
            </label>
            <input
                id="first-name-admin-edit-page"
                type="text"
                name="first_name"
                value="<%= formData?.first_name || '' %>"
                required
            />
            <label class="capitalize" for="last-name-admin-edit-page">
                last name (lname)
            </label>
            <input
                id="last-name-admin-edit-page"
                type="text"
                name="last_name"
                value="<%= formData?.last_name || '' %>"
                required
            />
            <%# if (user && user.permission_status !== "admin") { %> 
            <div class="element-container-profile-block">
                <div class="element-container-col-default">
                  <label for="permission-status-admin-edit-page">
                      permission status
                  </label>
                  <select
                      id="permission-status-admin-edit-page"
                      class="profile-block-select lowercase "
                      name="permission_status"
                      <%= canPerformHasRole(currentUser, 'changePermissionStatus', formData) ? '' : 'disabled' %>
                      required
                  >
                    <option value="guest" <%= formData?.permission_status === "guest" ? "selected" : "" %>>guest</option>
                    <option value="member" <%= formData?.permission_status === "member" ? "selected" : "" %>>member</option>
                    <option value="admin" <%= formData?.permission_status === "admin" ? "selected" : "" %>>admin</option>
                  </select>
                </div>
                <div class="element-container-col-default">
                  <label for="verified-by-admin-admin-edit-page"> admin verified </label>
                  <select
                      id="verified-by-admin-admin-edit-page"
                      class="profile-block-select lowercase"
                      name="verified_by_admin"
                      <%= canPerformHasRole(currentUser, 'changeVerifiedByAdmin', formData) ? '' : 'disabled' %>
                      required
                  >
                    <option value="false" <%= String(formData?.verified_by_admin) === "false" ? "selected" : "" %>>false</option>
                    <option value="true" <%= String(formData?.verified_by_admin) === "true" ? "selected" : "" %>>true</option>
                  </select>
                </div>
                <div class="element-container-col-default">
                <label for="member-request-admin-edit-page"> member request </label>
                <select
                    id="member-request-admin-edit-page"
                    class="profile-block-select lowercase"
                    name="member_request"
                    <%= canPerformHasRole(currentUser, 'changeMemberRequest', formData) ? '' : 'disabled' %>
                    required
                >
                    <option value="false" <%= String(formData?.member_request) === "false" ? "selected" : "" %>>false</option>
                    <option value="true" <%= String(formData?.member_request) === "true" ? "selected" : "" %>>true</option>
                </select>
                </div>
                <div class="element-container-col-default">
                <label for="is-active-admin-edit-page"> active status </label>
                <select
                    id="is-active-admin-edit-page"
                    class="profile-block-select lowercase"
                    name="is_active"
                    <%= canPerformHasRole(currentUser, 'changeIsActive', formData) ? '' : 'disabled' %>
                    required
                >
                    <option value="false" <%= String(formData?.is_active) === "false" ? "selected" : "" %>>false</option>
                    <option value="true" <%= String(formData?.is_active) === "true" ? "selected" : "" %>>true</option>
                </select>
                </div>
            </div>
            <%# } %>
            <label class="capitalize" for="email-admin-edit-page">
                email address
            </label>
            <input
                id="email-admin-edit-page"
                class="lowercase"
                type="email"
                name="email"
                value="<%= formData?.email || '' %>"
                required
            />
            <div class="element-container-row-space-between">
                <div class="element-container-col-start-center">
                <label class="capitalize" for="phone-admin-edit-page"> phone </label>
                <input
                    id="phone-admin-edit-page"
                    type="tel"
                    name="phone"
                    value="<%= formData?.phone || '' %>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label class="capitalize" for="birthdate-admin-edit-page">
                    birthdate
                </label>
                <input
                    id="birthdate-admin-edit-page"
                    type="date"
                    name="birthdate"
                    value="<%= formData?.birthdate || '' %>"
                    required
                />
                </div>
            </div>
            <label for="password-admin-edit-page"> password </label>
            <input
                id="password-admin-edit-page"
                type="password"
                name="password"
                placeholder="select new password"
            />
            <label for="confirm-password-admin-edit-page"> confirm password </label>
            <input
                id="confirm-password-admin-edit-page"
                type="password"
                name="confirm_password"
                placeholder="re-enter new password"
            />
            <label class="capitalize" for="street-address-admin-edit-page">
                street address
            </label>
            <input
                id="street-address-admin-edit-page"
                type="text"
                name="street_address"
                value="<%= formData?.street_address || '' %>"
            />
            <div class="element-container-row-space-between">
                <div class="element-container-col-start-center">
                <label class="capitalize" for="apt-unit-admin-edit-page">
                    apt/unit
                </label>
                <input
                    id="apt-unit-admin-edit-page"
                    type="text"
                    name="apt_unit"
                    value="<%= formData?.apt_unit || '' %>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label class="capitalize" for="us-state-admin-edit-page">
                    state
                </label>
                <select id="us-state-admin-edit-page" name="us_state">
                    <option value="" disabled <%= !formData?.us_state ? "selected" : "" %>>Choose state</option>
                    <option value="AL" <%= formData?.us_state === "AL" ? "selected" : "" %>>Alabama</option>
                    <option value="AK" <%= formData?.us_state === "AK" ? "selected" : "" %>>Alaska</option>
                    <option value="AZ" <%= formData?.us_state === "AZ" ? "selected" : "" %>>Arizona</option>
                    <option value="AR" <%= formData?.us_state === "AR" ? "selected" : "" %>>Arkansas</option>
                    <option value="CA" <%= formData?.us_state === "CA" ? "selected" : "" %>>California</option>
                    <option value="CO" <%= formData?.us_state === "CO" ? "selected" : "" %>>Colorado</option>
                    <option value="CT" <%= formData?.us_state === "CT" ? "selected" : "" %>>Connecticut</option>
                    <option value="DE" <%= formData?.us_state === "DE" ? "selected" : "" %>>Delaware</option>
                    <option value="DC" <%= formData?.us_state === "DC" ? "selected" : "" %>>Washington, DC</option>
                    <option value="FL" <%= formData?.us_state === "FL" ? "selected" : "" %>>Florida</option>
                    <option value="GA" <%= formData?.us_state === "GA" ? "selected" : "" %>>Georgia</option>
                    <option value="HI" <%= formData?.us_state === "HI" ? "selected" : "" %>>Hawaii</option>
                    <option value="ID" <%= formData?.us_state === "ID" ? "selected" : "" %>>Idaho</option>
                    <option value="IL" <%= formData?.us_state === "IL" ? "selected" : "" %>>Illinois</option>
                    <option value="IN" <%= formData?.us_state === "IN" ? "selected" : "" %>>Indiana</option>
                    <option value="IA" <%= formData?.us_state === "IA" ? "selected" : "" %>>Iowa</option>
                    <option value="KS" <%= formData?.us_state === "KS" ? "selected" : "" %>>Kansas</option>
                    <option value="KY" <%= formData?.us_state === "KY" ? "selected" : "" %>>Kentucky</option>
                    <option value="LA" <%= formData?.us_state === "LA" ? "selected" : "" %>>Louisiana</option>
                    <option value="ME" <%= formData?.us_state === "ME" ? "selected" : "" %>>Maine</option>
                    <option value="MD" <%= formData?.us_state === "MD" ? "selected" : "" %>>Maryland</option>
                    <option value="MA" <%= formData?.us_state === "MA" ? "selected" : "" %>>Massachusetts</option>
                    <option value="MI" <%= formData?.us_state === "MI" ? "selected" : "" %>>Michigan</option>
                    <option value="MN" <%= formData?.us_state === "MN" ? "selected" : "" %>>Minnesota</option>
                    <option value="MS" <%= formData?.us_state === "MS" ? "selected" : "" %>>Mississippi</option>
                    <option value="MO" <%= formData?.us_state === "MO" ? "selected" : "" %>>Missouri</option>
                    <option value="MT" <%= formData?.us_state === "MT" ? "selected" : "" %>>Montana</option>
                    <option value="NE" <%= formData?.us_state === "NE" ? "selected" : "" %>>Nebraska</option>
                    <option value="NV" <%= formData?.us_state === "NV" ? "selected" : "" %>>Nevada</option>
                    <option value="NH" <%= formData?.us_state === "NH" ? "selected" : "" %>>New Hampshire</option>
                    <option value="NJ" <%= formData?.us_state === "NJ" ? "selected" : "" %>>New Jersey</option>
                    <option value="NM" <%= formData?.us_state === "NM" ? "selected" : "" %>>New Mexico</option>
                    <option value="NY" <%= formData?.us_state === "NY" ? "selected" : "" %>>New York</option>
                    <option value="NC" <%= formData?.us_state === "NC" ? "selected" : "" %>>North Carolina</option>
                    <option value="ND" <%= formData?.us_state === "ND" ? "selected" : "" %>>North Dakota</option>
                    <option value="OH" <%= formData?.us_state === "OH" ? "selected" : "" %>>Ohio</option>
                    <option value="OK" <%= formData?.us_state === "OK" ? "selected" : "" %>>Oklahoma</option>
                    <option value="OR" <%= formData?.us_state === "OR" ? "selected" : "" %>>Oregon</option>
                    <option value="PA" <%= formData?.us_state === "PA" ? "selected" : "" %>>Pennsylvania</option>
                    <option value="RI" <%= formData?.us_state === "RI" ? "selected" : "" %>>Rhode Island</option>
                    <option value="SC" <%= formData?.us_state === "SC" ? "selected" : "" %>>South Carolina</option>
                    <option value="SD" <%= formData?.us_state === "SD" ? "selected" : "" %>>South Dakota</option>
                    <option value="TN" <%= formData?.us_state === "TN" ? "selected" : "" %>>Tennessee</option>
                    <option value="TX" <%= formData?.us_state === "TX" ? "selected" : "" %>>Texas</option>
                    <option value="UT" <%= formData?.us_state === "UT" ? "selected" : "" %>>Utah</option>
                    <option value="VT" <%= formData?.us_state === "VT" ? "selected" : "" %>>Vermont</option>
                    <option value="VA" <%= formData?.us_state === "VA" ? "selected" : "" %>>Virginia</option>
                    <option value="WA" <%= formData?.us_state === "WA" ? "selected" : "" %>>Washington</option>
                    <option value="WV" <%= formData?.us_state === "WV" ? "selected" : "" %>>West Virginia</option>
                    <option value="WI" <%= formData?.us_state === "WI" ? "selected" : "" %>>Wisconsin</option>
                    <option value="WY" <%= formData?.us_state === "WY" ? "selected" : "" %>>Wyoming</option>
                  </select>
                </div>
            </div>
            <div class="element-container-row-space-between">
                <div class="element-container-col-start-center">
                <label class="capitalize" for="city-admin-edit-page"> city </label>
                <input
                    id="city-admin-edit-page"
                    type="text"
                    name="city"
                    value="<%= formData?.city || '' %>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label class="capitalize" for="zip-code-admin-edit-page"> zip </label>
                <input
                    id="zip-code-admin-edit-page"
                    type="text"
                    name="zip_code"
                    value="<%= formData?.zip_code || '' %>"
                />
                </div>
            </div>
            <div class="element-container-row-space-between">
                <div class="element-container-col-start-center">
                <label class="font-size-small" for="avatar-type-admin-edit-page"> avatar </label>
                <input
                    id="avatar-type-admin-edit-page"
                    class="emoji capitalize"
                    type="text"
                    name="avatar_type"
                    value="<%= formData?.avatar_type || '' %>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label class="font-size-small" for="avatar-color-fg-admin-edit-page"> colorFG </label>
                <input
                    id="avatar-color-fg-admin-edit-page"
                    class="lowercase"
                    type="text"
                    name="avatar_color_fg"
                    value="<%= formData?.avatar_color_fg || '' %>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label class="font-size-small" for="avatar-color-bg-top-admin-edit-page"> colorBG↑ </label>
                <input
                    id="avatar-color-bg-top-admin-edit-page"
                    class="lowercase"
                    type="text"
                    name="avatar_color_bg_top"
                    value="<%= formData?.avatar_color_bg_top || '' %>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label class="font-size-small" for="avatar-color-bg-bottom-admin-edit-page"> colorBG↓ </label>
                <input
                    id="avatar-color-bg-bottom-admin-edit-page"
                    class="lowercase"
                    type="text"
                    name="avatar_color_bg_bottom"
                    value="<%= formData?.avatar_color_bg_bottom || '' %>"
                />
                </div>
            </div>
            <label class="capitalize" for="notes-admin-edit-page">notes</label>
            <!-- <textarea
              id="notes-admin-edit-page"
              name="notes"
            ><%#= formData?.notes || '' %>
            <%#= (formData?.notes || '').trim() %>
            </textarea> -->
            <textarea id="notes-admin-edit-page" name="notes"><%= formData?.notes || '' %></textarea>
            <div class="button-container-col">
              <a class="button-default wide-button" href="/app/admin">cancel changes</a>
              <button class="button-default wide-button" type="submit">submit profile changes</button>
            </div>
        </form>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
