<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="page-title-off-card uppercase">
        <h1>create new user</h1>
      </div>
      <div class="card">
        <form action="/app/admin-create" method="POST">
          <label class="capitalize" for="first-name-admin-create-page">
            first name (fname)
          </label>
          <input
            id="first-name-admin-create-page"
            type="text"
            name="first_name"
            value="<%= formData?.first_name || '' %>"
            required
          />
          <label class="capitalize" for="last-name-admin-create-page">
            last name (lname)
          </label>
          <input
            id="last-name-admin-create-page"
            type="text"
            name="last_name"
            value="<%= formData?.last_name || '' %>"
            required
          />

          <label class="capitalize" for="email-admin-create-page">
            email address
          </label>
          <input
            id="email-admin-create-page"
            class="lowercase"
            type="email"
            name="email"
            value="<%= formData?.email || '' %>"
            required
          />
          <label class="capitalize" for="birthdate-admin-create-page">
            birthdate
          </label>
          <input
            id="birthdate-admin-create-page"
            type="date"
            name="birthdate"
            value="<%= formData?.birthdate || '' %>"
            required
          />
          <label for="password-admin-create-page"> password </label>
          <input
            id="password-admin-create-page"
            type="password"
            name="password"
            placeholder="select a password"
            required
          />
          <label for="confirm-password-admin-create-page">
            confirm password
          </label>
          <input
            id="confirm-password-admin-create-page"
            type="password"
            name="confirm_password"
            placeholder="re-enter chosen password"
            required
          />

          <label class="capitalize" for="notes-admin-create-page">
            notes
          </label>
          <textarea id="notes-admin-create-page" name="notes"></textarea>
          <div class="button-container-col">
            <a class="button-default wide-button" href="/app/admin"
              >cancel changes</a
            >
            <button class="button-default wide-button" type="submit">
              submit profile changes
            </button>
          </div>
        </form>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
