<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="page-title-off-card uppercase">
        <h1>create new user</h1>
      </div>
      <div class="card">
        <form action="/app/admin-create" method="POST">
          <!-- CSRF Token -->
          <!-- <input type="hidden" name="_csrf" value="<%#= csrfToken %>"> -->
          <label class="capitalize" for="first-name-admin-create-page">
            first name
          </label>
          <input
            id="first-name-admin-create-page"
            type="text"
            name="first_name"
            value="<%= formData?.first_name || '' %>"
            required
          />
          <label class="capitalize" for="last-name-admin-create-page">
            last name
          </label>
          <input
            id="last-name-admin-create-page"
            type="text"
            name="last_name"
            value="<%= formData?.last_name || '' %>"
            required
          />
          <div class="element-container-row-start-center">
            <label class="capitalize" for="email-admin-create-page">
              email
            </label>
            <% if (errors && errors.some(e => e.param === 'email')) { %>
              <% errors.filter(e => e.param === 'email').forEach(e => { %>
                <span class="error-message">[<%= e.msg %>]</span>
              <% }) %>
            <% } %>
          </div>            
          <input
            id="email-admin-create-page"
            class="lowercase"
            type="email"
            name="email"
            value="<%= formData?.email || '' %>"
            required
          /> 
          <label class="capitalize" for="birthdate-admin-create-page">
            birthdate
          </label>
          <input
            id="birthdate-admin-create-page"
            type="date"
            name="birthdate"
            value="<%= formData?.birthdate || '' %>"
            required
          />
          <div class="element-container-row-start-center">
            <label for="password-admin-create-page">password</label>
            <% if (errors && errors.some(e => e.param === 'password')) { %>
              <% errors.filter(e => e.param === 'password').forEach(e => { %>
                <span class="error-message">[<%= e.msg %>]</span>
              <% }) %>
            <% } %>
          </div>            
          <input
          id="password-admin-create-page"
          type="password"
          name="password"
          placeholder="select a password"
          required
          />            
          <div class="element-container-row-start-center">
            <label for="confirm-password-admin-create-page">
              confirm
            </label>
            <% if (errors && errors.some(e => e.param === 'confirm_password')) { %>
              <% errors.filter(e => e.param === 'confirm_password').forEach(e => { %>
                <span class="error-message">[<%= e.msg %>]</span>
              <% }) %>
            <% } %>
          </div>            
          <input
            id="confirm-password-admin-create-page"
            type="password"
            name="confirm_password"
            placeholder="re-enter chosen password"
            required
          />            
          <label class="capitalize" for="notes-admin-create-page">
            notes
          </label>
          <textarea id="notes-admin-create-page" name="notes"></textarea>
          <div class="background-yellow border-default margin-bottom">
            <%- include('./partials/password-rules.ejs') %>
          </div>
          <div class="button-container-col">
            <a class="button-default wide-button cancel-button" href="/app/admin">cancel changes</a>
            <button class="button-default wide-button submit-button" type="submit">
              submit profile changes
            </button>
          </div>
        </form>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
