<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="page-title-off-card uppercase">
        <h1>admin panel</h1>
      </div>
      <div id="admin-controls" class="element-container-col-default flex-gap">
        <a class="button-default wide-button" href="/app/admin-create">create new user</a>
        <button id="site-controls-button" class="button-default wide-button" type="button">open site controls</button>
        <div id="site-controls-div" class="<%= (query.success || query.error) ? '' : 'hidden' %>">
          <% if (query.success === "site-settings-updated") { %>
            <div class="element-container-row-default success-message">[site settings saved.]</div>
          <% } %>
          <% if (query.error === "invalid-input") { %>
            <div class="element-container-row-default error-message">[site changes failed.]</div>
          <% } %>
          <form id="site-controls-form" action="/app/admin/config/site-controls" method="POST">
            <%# CSRF Token - hidden input for forms %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <fieldset>
              <h3>message retention</h3>
              <div class="element-container-row-default flex-gap">                  
                <label>soft delete (days):</label>
                <input class="text-align-right" type="number" name="message_soft_delete_days" value="<%= config.message_soft_delete_days %>" min="0" />
              </div>
              <div class="element-container-row-default flex-gap">                  
                <label>hard delete (days):</label>
                <input class="text-align-right" type="number" name="message_hard_delete_days" value="<%= config.message_hard_delete_days %>" min="0" />
              </div>
            </fieldset>
            <fieldset>
              <h3>session retention</h3>
              <div class="element-container-row-default flex-gap">                  
                <label>hard delete (days):</label>
                <input class="text-align-right" type="number" name="session_hard_delete_days" value="<%= config.session_hard_delete_days %>" min="0" />
              </div>
            </fieldset>
            <fieldset>
              <h3>run retention duration</h3>
              <p class="capitalize element-container-row-center-start last-admin-login">Last admin login: <%= new Date(config.last_admin_retention_run).toLocaleString("en-US", {
                  timeZone: "America/New_York",
                  dateStyle: "medium",
                  timeStyle: "short"
                }) 
                %></p>  
              <div class="element-container-row-default flex-gap">                
                <label>run if x hours after last admin login:</label>
                <input class="text-align-right" type="number" name="run_retention_duration_hours" value="<%= config.run_retention_duration_hours %>" min="0" />
              </div>
            </fieldset>
            <fieldset>
              <h3>sign-up rate limit</h3>
              <div class="element-container-row-default flex-gap">                  
                <label>window (minutes):</label>
                <input class="text-align-right" type="number" name="signup_limit_window_minutes" value="<%= config.signup_limit_window_minutes %>" min="0" />
              </div>
                <div class="element-container-row-default flex-gap">                  
                <label>maximum users:</label>
                <input class="text-align-right" type="number" name="signup_limit_max_users" value="<%= config.signup_limit_max_users %>" min="0" />
              </div>
            </fieldset>
            <fieldset>
              <h3>log-in rate limit</h3>
              <div class="element-container-row-default flex-gap">                  
                <label>window (minutes):</label>
                <input class="text-align-right" type="number" name="login_limit_window_minutes" value="<%= config.login_limit_window_minutes %>" min="0" />
              </div>
                <div class="element-container-row-default flex-gap">                  
                <label>maximum users:</label>
                <input class="text-align-right" type="number" name="login_limit_max_users" value="<%= config.login_limit_max_users %>" min="0" />
              </div>
            </fieldset>
            <fieldset>
              <h3>Message Limit</h3>
              <div class="element-container-row-default flex-gap">                  
                <label>maximum characters:</label>
                <input class="text-align-right" type="number" name="max_message_chars" value="<%= config.max_message_chars %>" min="100" />
              </div>
            </fieldset>
            <fieldset>
              <h3>Maintenance Mode</h3>
              <div class="element-container-row-default">
                <label for="maintenance_mode" hidden>save to enable changes</label>
                <p class="uppercase margin-right <%= config.maintenance_mode ? 'font-color-gray' : 'font-color-red' %>"><%= config.maintenance_mode ? '---' : 'off' %></p>
                <label class="switch">
                  <input type="checkbox" name="maintenance_mode" value="on" <% if(config.maintenance_mode) { %>checked<% } %> />
                  <span class="slider round"></span>
                </label>
                <p class="uppercase margin-left <%= config.maintenance_mode ? 'font-color-green' : 'font-color-gray' %>"><%= config.maintenance_mode ? 'on' : '---' %></p>
              </div>
            </fieldset>
            <fieldset>
              <h3>Permission Emojis</h3>
              <div class="element-container-row-space-evenly flex-gap">
                <div class="element-container-col-default">
                  <label for="admin_emoji">Admin</label>
                  <input class="text-align-center" type="text" name="admin_emoji" value="<%= config.admin_emoji %>">
                </div>
                <div class="element-container-col-default">
                  <label for="member_emoji">Member</label>
                  <input class="text-align-center" type="text" name="member_emoji" value="<%= config.member_emoji %>">
                </div>
                <div class="element-container-col-default">
                  <label for="guest_emoji">Guest</label>
                  <input class="text-align-center" type="text" name="guest_emoji" value="<%= config.guest_emoji %>">
                </div>
              </div>
            </fieldset>
            <div class="button-container-col">
              <button class="button-default wide-button" type="submit">save site settings</button>                  
            </div>
          </form>
        </div>
        <button id="site-statistics-button" class="button-default wide-button" type="button">open site statistics</button>
        <div id="site-statistics-div" class="element-container-row-space-evenly  hidden">
          <div class="element-container-col-start-center">
            <h3 class="uppercase">users</h3>
            <div class="element-container-col-start-center">
              <p class="underline"><%= userProfiles.length %> total users</p>  
              <p><%= userProfiles.filter(userProfile => userProfile.permission_status === "guest").length %> total guests</p>
              <p><%= userProfiles.filter(userProfile => userProfile.permission_status === "member").length %> total members</p>
              <p><%= userProfiles.filter(userProfile => userProfile.permission_status === "admin").length %> total admin(s)</p>
              <p><%= userProfiles.filter(userProfile => userProfile.is_active === false).length %> total inactive</p>                   
            </div>                   
          </div>
          <div class="element-container-col-start-center">
            <h3 class="uppercase">messages</h3>
            <div class="element-container-col-start-center">
              <p class="underline"><%= messages.length %> total messages</p>  
              <p><%= messages.filter(message => message.parent_message_id).length %> total replies</p>
              <p><%= messages.filter(message => message.is_edited).length %> total edited</p>
              <p><%= messages.filter(message => message.is_deleted).length %> total deleted</p>
              <p><%= messages.filter(message => message.is_sticky).length %> total pinned</p>                   
            </div>                   
          </div>
        </div>
        <button id="show-guests-button" class="button-default wide-button" type="button">open guest profiles</button>
        <button id="show-members-button" class="button-default wide-button" type="button">open member profiles</button>
      </div>
      <div class="large-screen-flex-row">
      <% userProfiles.forEach(function(userProfile) { %>
        <div class="card
          <% if (userProfile && userProfile.permission_status === "admin") { %>
            admin-card
            <% } else if (userProfile && userProfile.permission_status === "member") { %>
            member-card user-card hidden
            <% } else if (userProfile && userProfile.permission_status === "guest" && userProfile.verified_by_admin === true && userProfile.guest_upgrade_invite === false) { %>
            guest-card user-card hidden upgrade-possible
            <% } else if (userProfile && userProfile.permission_status === "guest" && userProfile.verified_by_admin === true && userProfile.guest_upgrade_invite === true && userProfile.invite_decision === "none" ) { %>
            guest-card user-card hidden upgrade-no-decision
            <% } else if (userProfile && userProfile.permission_status === "guest" && userProfile.verified_by_admin === true && userProfile.guest_upgrade_invite === true && userProfile.invite_decision === "declined" ) { %>
            guest-card user-card hidden upgrade-declined
            <% } else if (userProfile && userProfile.permission_status === "guest" && userProfile.verified_by_admin === true && userProfile.guest_upgrade_invite === true && userProfile.invite_decision === "accepted" ) { %>
            guest-card user-card hidden upgrade-review
            <% }  else { %>
            guest-card user-card hidden
            <% } %>
          <% if (userProfile && userProfile.is_active === false) { %> 
              dead-account
          <% } %>
          ">
          <div class="element-container-row-center-start margin-bottom">
            <div 
              class="avatar-container avatar-container-size-small avatar-background circle " 
                <%- include('./partials/avatar-color-data-helper.ejs', { obj: userProfile }) %>  
              >
              <span class="emoji emoji-size-small" role="image" aria-label="avatar image">
                <%= userProfile.avatar_type %>
              </span>
            </div>   
            <h2 class="admin-panel-name italic"><%= userProfile.first_name %> <%= userProfile.last_name %></h2>         
          </div>
          <div class="admin-quick-view-bar">
            <span>
              <% if (userProfile && userProfile.permission_status === "admin") { %>
                <p class="emoji"><%= config.admin_emoji %></p>
              <% }
              else if (userProfile && userProfile.permission_status === "member") { %>
                <p class="emoji"><%= config.member_emoji %></p>  
              <% } else { %>
                <p class="emoji"><%= config.guest_emoji %></p>  
              <% } %>
            </span>
            <span>
            <% if (userProfile && userProfile.verified_by_admin === true) { %>
              <p class="emoji font-color-green">✔</p> 
            <% } else { %>
              <p class="emoji font-color-red">❌</p>  
            <% } %>
            </span>
            <% if (userProfile.message_count) { %>
              <span class="font-color-black">
                <p><%= userProfile.message_count %></p>
              </span>
            <% } %>
            <% if (userProfile.birthdate) { %>
              <span class="font-color-black">
                <p class="emoji font-color-gray"><%= userProfile.zodiacSign %></p>
                /
                <p class="emoji <%= userProfile.permission_status === 'admin' ? 'font-color-black' : 'font-color-white'%> "><%= userProfile.realZodiacSign %></p>
              </span>
            <% } %>
            <% if (userProfile.birthdate) { %>
              <span class="font-color-black">
                <p class="emoji"><%= userProfile.chineseZodiacSign %></p>
              </span>
            <% } %>
          </div>
          <% if (userProfile && userProfile.permission_status === "admin" && (config.maintenance_mode || process.env.MAINTENANCE_MODE === "true")) { %> 
            <div class="element-container-col-start-center ui-message ui-message-bubble background-black font-color-white">         
              <% if (config.maintenance_mode) { %>
                <p><span class="emoji">🚧</span> Maintenance mode set to <span class="font-color-green">true</span> in the admin panel.</p>
              <% } %>   
              <% if (process.env.MAINTENANCE_MODE === "true") { %>
              <p><span class="emoji">🚧</span> Maintenance mode set to <span class="font-color-green">true</span> in environment variables (.env).</p>
              <% } %>          
            </div>   
          <% } %>
          <% if (userProfile && userProfile.permission_status === "guest" && userProfile.verified_by_admin === true) { %> 
            <div class="element-container-col-start-center ui-message ui-message-bubble">                    
              <% if (userProfile && userProfile.permission_status === "guest" && userProfile.verified_by_admin === true && userProfile.guest_upgrade_invite === true && userProfile.invite_decision === "declined") { %>
              <p><span class="emoji">🚫</span> Guest user declined member status.</p>
              <% } %>            
              <% if (userProfile && userProfile.permission_status === "guest" && userProfile.verified_by_admin === true && userProfile.guest_upgrade_invite === true && userProfile.invite_decision === "none") { %>
              <p><span class="emoji">⚖</span> Pending member status, awaiting guest user decision.</p>
              <% } %>
              <% if (userProfile && userProfile.permission_status === "guest" && userProfile.verified_by_admin === true && userProfile.guest_upgrade_invite === false && userProfile.invite_decision === "none") { %>
              <p><span class="emoji">🤔</span> Consider upgrading this guest to member status.</p>
              <% } %>
              <% if (userProfile && userProfile.permission_status === "guest" && userProfile.verified_by_admin === true && userProfile.guest_upgrade_invite === true && userProfile.invite_decision === "accepted") { %>
              <p><span class="emoji">😬</span> Review this profile for errors.</p>
              <% } %>
            </div>   
          <% } %>
          <div class="profile-data-container hidden">
            <dl class="profile-data-dl margin-bottom">
              <div class="neighbor-relevant-data">
                <dt class="capitalize">name</dt>
                <dd class="capitalize"><%= userProfile.first_name %> <%= userProfile.last_name %></dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">status</dt>
                <dd><%= userProfile.permission_status %></dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">verified</dt>
                <dd>admin verified = <span class="<%= userProfile.verified_by_admin ? 'font-color-green' : 'font-color-red' %>"><%= userProfile.verified_by_admin %></span></dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">upgrade</dt>
                <dd>invite sent = <span class="<%= userProfile.guest_upgrade_invite ? 'font-color-green' : 'font-color-red' %>"><%= userProfile.guest_upgrade_invite %></span></dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">decision</dt>
                <dd>invite = <%= userProfile.invite_decision %></dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">activity</dt>
                <dd>active status = <span class="<%= userProfile.is_active ? 'font-color-green' : 'font-color-red' %>"><%= userProfile.is_active%></span></dd>
              </div>
              <div class="neighbor-relevant-data">
                <dt class="capitalize">email</dt>
                <dd class="word-breaker"><%= userProfile.email%></dd>
              </div>
              <div class="<%= userProfile.phone ? '' : 'hidden' %> neighbor-relevant-data">
                <dt class="capitalize">phone</dt>
                <dd><%= userProfile.phone %></dd>
              </div>
              <div class="neighbor-relevant-data">
                <dt class="capitalize">birthdate</dt>
                <dd><%= userProfile.formattedBirthdate %> (age: <%= userProfile.age %>)</dd>
              </div>
              <div class="<%= userProfile.street_address ? '' : 'hidden' %> neighbor-relevant-data">
                <dt class="capitalize">street</dt>
                <dd><%= userProfile.street_address %></dd>
              </div>
              <div class="<%= userProfile.apt_unit ? '' : 'hidden' %> neighbor-relevant-data">
                <dt class="capitalize">apt/unit</dt>
                <dd><%= userProfile.apt_unit %></dd>
              </div>
              <div class="<%= userProfile.city ? '' : 'hidden' %> neighbor-relevant-data">
                <dt class="capitalize">city</dt>
                <dd><%= userProfile.city %></dd>
              </div>
              <div class="<%= userProfile.us_state ? '' : 'hidden' %> neighbor-relevant-data">
                <dt class="capitalize">state</dt>
                <dd><%= userProfile.us_state %></dd>
              </div>
              <div class="<%= userProfile.zip_code ? '' : 'hidden' %> neighbor-relevant-data">
                <dt class="capitalize">zip code</dt>
                <dd><%= userProfile.zip_code %></dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">count</dt>
                <dd><%= userProfile.message_count %> posts</dd>
              </div>
              <div class="<%= userProfile.avatar_type ? '' : 'hidden' %> app-relevant-data">
                <dt class="capitalize">avatar</dt>
                <dd><span class="emoji regular"><%= userProfile.avatar_type %></span></dd>
              </div>
              <div class="<%= userProfile.avatar_color_fg ? '' : 'hidden' %> app-relevant-data">
                <dt class="capitalize">colorFG</dt>
                <dd><%= userProfile.avatar_color_fg %></dd>
              </div>
              <div class="<%= userProfile.avatar_color_bg_top ? '' : 'hidden' %> app-relevant-data">
                <dt class="capitalize">colorBG↑</dt>
                <dd><%= userProfile.avatar_color_bg_top %></dd>
              </div>
              <div class="<%= userProfile.avatar_color_bg_bottom ? '' : 'hidden' %> app-relevant-data">
                <dt class="capitalize">colorBG↓</dt>
                <dd><%= userProfile.avatar_color_bg_bottom %></dd>
              </div>
              <% const notesValue = (userProfile.notes || '').trim(); %>
              <div class="<%= notesValue ? '' : 'hidden' %> app-relevant-data">
                <dt class="capitalize">notes</dt>
                <dd><%= notesValue %></dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">created</dt>
                <dd><%= new Date(userProfile.created_at).toLocaleString("en-US", {
                  timeZone: "America/New_York",
                  dateStyle: "medium",
                  timeStyle: "short"
                }) 
                %>
                </dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">updated</dt>
                <dd><%= new Date(userProfile.updated_at).toLocaleString("en-US", {
                  timeZone: "America/New_York",
                  dateStyle: "medium",
                  timeStyle: "short"
                }) 
                %>
                </dd>
              </div>
              <div class="app-relevant-data">
                <dt class="capitalize">last login</dt>
                <dd><%= new Date(userProfile.last_login_at).toLocaleString("en-US", {
                  timeZone: "America/New_York",
                  dateStyle: "medium",
                  timeStyle: "short"
                }) 
                %>
                </dd>
              </div>
            </dl>
            <div class="button-container-col">
              <% if (userProfile && userProfile.permission_status !== "admin") { %>
                <button 
                  class="button-default wide-button action-target-button" 
                  data-section="modal-warning-account-deletion"
                  data-title="modal-title-warning-account-deletion"
                  data-target-id="<%= userProfile.id %>"
                  data-action="/app/admin/delete-user-account"
                >
                  delete this user
                </button>
              <% } %>
                <a class="button-default wide-button" href="/app/admin-edit/<%= userProfile.id %>">edit this profile</a>
            </div>
          </div>
          <br>
          <div class="button-container-col">
            <button class="button-default wide-button show-profile-button" type="button">open this profile</button>
          </div>
        </div>
      <% }) %>
    </div>
    </main>
    <%- include('./partials/modal-root.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
