<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="page-title-off-card uppercase">
        <h1>edit user profile</h1>
      </div>
      <div class="card">
        <div class="page-title uppercase">
          <h1><%=user.first_name%> <%=user.last_name%></h1>
        </div>
        <form action="/app/???" method="POST">
            <label class="capitalize" for="first-name-admin-edit-page">
                first name (fname)
            </label>
            <input
                id="first-name-admin-edit-page"
                class="bold"
                type="text"
                name="first_name"
                value="<%=user.first_name%>"
                required
            />
            <label class="capitalize" for="last-name-admin-edit-page">
                last name (lname)
            </label>
            <input
                id="last-name-admin-edit-page"
                class="bold"
                type="text"
                name="last_name"
                value="<%=user.last_name%>"
                required
            />
            <% if (user && user.permission_status !== "admin") { %> 
            <div class="element-container-profile-block">
                <div class="element-container-col-default">
                  <label for="permission-status-admin-edit-page">
                      permission status
                  </label>
                  <select
                      id="permission-status-admin-edit-page"
                      class="lowercase bold"
                      name="permission_status"
                      required
                  >
                    <option value="guest" <%= user.permission_status === "guest" ? "selected" : "" %>>guest</option>
                    <option value="member" <%= user.permission_status === "member" ? "selected" : "" %>>member</option>
                    <option value="admin" <%= user.permission_status === "admin" ? "selected" : "" %>>admin</option>
                  </select>
                </div>
                <div class="element-container-col-default">
                  <label for="verified-by-admin-admin-edit-page"> admin verified </label>
                  <select
                      id="verified-by-admin-admin-edit-page"
                      class="lowercase bold"
                      name="verified_by_admin"
                  >
                    <option value="false" <%= user.verified_by_admin === false ? "selected" : "" %>>false</option>
                    <option value="true" <%= user.verified_by_admin === true ? "selected" : "" %>>true</option>
                  </select>
                </div>
                <div class="element-container-col-default">
                <label for="member-request-admin-edit-page"> member request </label>
                <select
                    id="member-request-admin-edit-page"
                    class="lowercase bold"
                    name="member_request"
                >
                    <option value="false" <%= user.member_request === false ? "selected" : "" %>>false</option>
                    <option value="true" <%= user.member_request === true ? "selected" : "" %>>true</option>
                </select>
                </div>
                <div class="element-container-col-default">
                <label for="is-active-admin-edit-page"> active status </label>
                <select
                    id="is-active-admin-edit-page"
                    class="lowercase bold"
                    name="is_active"
                >
                    <option value="false" <%= user.is_active === false ? "selected" : "" %>>false</option>
                    <option value="true" <%= user.is_active === true ? "selected" : "" %>>true</option>
                </select>
                </div>
            </div>
            <% } %>
            <label class="capitalize" for="email-admin-edit-page">
                email address
            </label>
            <input
                id="email-admin-edit-page"
                class="lowercase bold"
                type="email"
                name="email"
                value="<%=user.email%>"
                required
            />
            <div class="element-container-row-space-between">
                <div class="element-container-col-start-center">
                <label class="capitalize" for="phone-admin-edit-page"> phone </label>
                <input
                    id="phone-admin-edit-page"
                    class="bold"
                    type="phone"
                    name="phone"
                    value="<%=user.phone%>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label class="capitalize" for="birthdate-admin-edit-page">
                    birthdate
                </label>
                <input
                    id="birthdate-admin-edit-page"
                    class="bold"
                    type="date"
                    name="birthdate"
                    value="<%=user.birthdate%>"
                    required
                />
                </div>
            </div>
            <label for="password-admin-edit-page"> password </label>
            <input
                id="password-admin-edit-page"
                type="password"
                name="password"
                placeholder="select new password"
                required
            />
            <label for="confirm-password-admin-edit-page"> confirm password </label>
            <input
                id="confirm-password-admin-edit-page"
                type="password"
                name="confirm_password"
                placeholder="re-enter new password"
                required
            />
            <label class="capitalize" for="street-address-admin-edit-page">
                street address
            </label>
            <input
                id="street-address-admin-edit-page"
                class="bold"
                type="text"
                name="street_address"
                value="<%=user.street_address%>"
            />
            <div class="element-container-row-space-between">
                <div class="element-container-col-start-center">
                <label class="capitalize" for="apt-unit-admin-edit-page">
                    apt/unit
                </label>
                <input
                    id="apt-unit-admin-edit-page"
                    class="bold"
                    type="text"
                    name="apt_unit"
                    value="<%=user.apt_unit%>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label class="capitalize" for="us-state-admin-edit-page">
                    state
                </label>
                <!-- <select id="us-state-admin-edit-page" name="us_state">
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">Washington, DC</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA" selected>Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select> -->
                  <select id="us-state-admin-edit-page" name="us_state" required>
                    <option value="AL" <%= user.us_state === "AL" ? "selected" : "" %>>Alabama</option>
                    <option value="AK" <%= user.us_state === "AK" ? "selected" : "" %>>Alaska</option>
                    <option value="AZ" <%= user.us_state === "AZ" ? "selected" : "" %>>Arizona</option>
                    <option value="AR" <%= user.us_state === "AR" ? "selected" : "" %>>Arkansas</option>
                    <option value="CA" <%= user.us_state === "CA" ? "selected" : "" %>>California</option>
                    <option value="CO" <%= user.us_state === "CO" ? "selected" : "" %>>Colorado</option>
                    <option value="CT" <%= user.us_state === "CT" ? "selected" : "" %>>Connecticut</option>
                    <option value="DE" <%= user.us_state === "DE" ? "selected" : "" %>>Delaware</option>
                    <option value="DC" <%= user.us_state === "DC" ? "selected" : "" %>>Washington, DC</option>
                    <option value="FL" <%= user.us_state === "FL" ? "selected" : "" %>>Florida</option>
                    <option value="GA" <%= user.us_state === "GA" ? "selected" : "" %>>Georgia</option>
                    <option value="HI" <%= user.us_state === "HI" ? "selected" : "" %>>Hawaii</option>
                    <option value="ID" <%= user.us_state === "ID" ? "selected" : "" %>>Idaho</option>
                    <option value="IL" <%= user.us_state === "IL" ? "selected" : "" %>>Illinois</option>
                    <option value="IN" <%= user.us_state === "IN" ? "selected" : "" %>>Indiana</option>
                    <option value="IA" <%= user.us_state === "IA" ? "selected" : "" %>>Iowa</option>
                    <option value="KS" <%= user.us_state === "KS" ? "selected" : "" %>>Kansas</option>
                    <option value="KY" <%= user.us_state === "KY" ? "selected" : "" %>>Kentucky</option>
                    <option value="LA" <%= user.us_state === "LA" ? "selected" : "" %>>Louisiana</option>
                    <option value="ME" <%= user.us_state === "ME" ? "selected" : "" %>>Maine</option>
                    <option value="MD" <%= user.us_state === "MD" ? "selected" : "" %>>Maryland</option>
                    <option value="MA" <%= user.us_state === "MA" ? "selected" : "" %>>Massachusetts</option>
                    <option value="MI" <%= user.us_state === "MI" ? "selected" : "" %>>Michigan</option>
                    <option value="MN" <%= user.us_state === "MN" ? "selected" : "" %>>Minnesota</option>
                    <option value="MS" <%= user.us_state === "MS" ? "selected" : "" %>>Mississippi</option>
                    <option value="MO" <%= user.us_state === "MO" ? "selected" : "" %>>Missouri</option>
                    <option value="MT" <%= user.us_state === "MT" ? "selected" : "" %>>Montana</option>
                    <option value="NE" <%= user.us_state === "NE" ? "selected" : "" %>>Nebraska</option>
                    <option value="NV" <%= user.us_state === "NV" ? "selected" : "" %>>Nevada</option>
                    <option value="NH" <%= user.us_state === "NH" ? "selected" : "" %>>New Hampshire</option>
                    <option value="NJ" <%= user.us_state === "NJ" ? "selected" : "" %>>New Jersey</option>
                    <option value="NM" <%= user.us_state === "NM" ? "selected" : "" %>>New Mexico</option>
                    <option value="NY" <%= user.us_state === "NY" ? "selected" : "" %>>New York</option>
                    <option value="NC" <%= user.us_state === "NC" ? "selected" : "" %>>North Carolina</option>
                    <option value="ND" <%= user.us_state === "ND" ? "selected" : "" %>>North Dakota</option>
                    <option value="OH" <%= user.us_state === "OH" ? "selected" : "" %>>Ohio</option>
                    <option value="OK" <%= user.us_state === "OK" ? "selected" : "" %>>Oklahoma</option>
                    <option value="OR" <%= user.us_state === "OR" ? "selected" : "" %>>Oregon</option>
                    <option value="PA" <%= user.us_state === "PA" ? "selected" : "" %> selected>Pennsylvania</option>
                    <option value="RI" <%= user.us_state === "RI" ? "selected" : "" %>>Rhode Island</option>
                    <option value="SC" <%= user.us_state === "SC" ? "selected" : "" %>>South Carolina</option>
                    <option value="SD" <%= user.us_state === "SD" ? "selected" : "" %>>South Dakota</option>
                    <option value="TN" <%= user.us_state === "TN" ? "selected" : "" %>>Tennessee</option>
                    <option value="TX" <%= user.us_state === "TX" ? "selected" : "" %>>Texas</option>
                    <option value="UT" <%= user.us_state === "UT" ? "selected" : "" %>>Utah</option>
                    <option value="VT" <%= user.us_state === "VT" ? "selected" : "" %>>Vermont</option>
                    <option value="VA" <%= user.us_state === "VA" ? "selected" : "" %>>Virginia</option>
                    <option value="WA" <%= user.us_state === "WA" ? "selected" : "" %>>Washington</option>
                    <option value="WV" <%= user.us_state === "WV" ? "selected" : "" %>>West Virginia</option>
                    <option value="WI" <%= user.us_state === "WI" ? "selected" : "" %>>Wisconsin</option>
                    <option value="WY" <%= user.us_state === "WY" ? "selected" : "" %>>Wyoming</option>
                  </select>
                </div>
            </div>
            <div class="element-container-row-space-between">
                <div class="element-container-col-start-center">
                <label class="capitalize" for="city-admin-edit-page"> city </label>
                <input
                    id="city-admin-edit-page"
                    class="bold"
                    type="text"
                    name="city"
                    value="<%=user.city%>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label class="capitalize" for="zip-code-admin-edit-page"> zip </label>
                <input
                    id="zip-code-admin-edit-page"
                    class="bold"
                    type="text"
                    name="zip_code"
                    value="<%=user.zip_code%>"
                />
                </div>
            </div>
            <div class="element-container-row-space-between">
                <div class="element-container-col-start-center">
                <label for="avatar-type-admin-edit-page"> avatar </label>
                <input
                    id="avatar-type-admin-edit-page"
                    class="emoji lowercase bold"
                    type="text"
                    name="avatar_type"
                    value="<%=user.avatar_type%>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label for="avatar-color-fg-admin-edit-page"> colorFG </label>
                <input
                    id="avatar-color-fg-admin-edit-page"
                    class="lowercase bold"
                    type="text"
                    name="avatar_color_fg"
                    value="<%=user.avatar_color_fg%>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label for="avatar-color-bg-top-admin-edit-page"> colorBG↑ </label>
                <input
                    id="avatar-color-bg-top-admin-edit-page"
                    class="lowercase bold"
                    type="text"
                    name="avatar_color_bg_top"
                    value="<%=user.avatar_color_bg_top%>"
                />
                </div>
                <div class="element-container-col-start-center">
                <label for="avatar-color-bg-bottom-admin-edit-page"> colorBG↓ </label>
                <input
                    id="avatar-color-bg-bottom-admin-edit-page"
                    class="lowercase bold"
                    type="text"
                    name="avatar_color_bg_bottom"
                    value="<%=user.avatar_color_bg_bottom%>"
                />
                </div>
            </div>
            <label class="capitalize" for="notes-admin-edit-page">notes</label>
            <textarea
              id="notes-admin-edit-page"
              class="bold"
              name="notes"
            ><%= user.notes %>
            </textarea>
            <div class="button-container-col">
              <a class="fake-button wide-button" href="/app/admin">cancel changes</a>
              <button class="wide-button" type="submit">submit profile changes</button>
            </div>
        </form>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
