<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <main>
      <div class="card">
        <div class="page-title uppercase">
          <h1>log in</h1>
        </div>
        <div class="ui-message">
          <p>
            Welcome back to the
            <span class="red-letter">C</span>apital
            <span class="red-letter">A</span>rea
            <span class="red-letter">N</span>eigborhood Message Board.
          </p>
        </div>
        <form class="black" action="/app/log-in" method="POST">
          <!-- CSRF Token -->
          <!-- <input type="hidden" name="_csrf" value="<%#= csrfToken %>"> -->
          <div class="element-container-row-start-center">
           <label for="email-log-in"> email </label>           
           <% if (errors && errors.some(e => e.includes('email'))) { %>
            <span class="error-message">[<%= errors.find(e => e.includes('email')) %>]</span>
          <% } %>
          </div>
          <input
            id="email-log-in"
            type="email"
            name="email"
            value="<%= formData?.email || '' %>"
            placeholder="enter email"
            required
          />
          <div class="element-container-row-start-center">
            <label for="password-log-in"> password </label> 
            <% if (errors && errors.some(e => e.includes('password'))) { %>
            <span class="error-message">[<%= errors.find(e => e.includes('password')) %>]</span>
            <% } %>           
          </div>
          
          <input
            id="password-log-in"
            type="password"
            name="password"
            placeholder="enter a password"
            required
          />

          <div class="button-container-row-space-evenly">
            <a class="button-default narrow-button " href="/app/">home</a>
            <button class="button-default narrow-button " type="submit">log in</button>
          </div>
        </form>
      </div>
    <!-- TODO - I need errors to go somewhere! -->
    <%#- include('./partials/errors.ejs') %>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
