<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div>
        <h1 class="page-title-off-card uppercase">member directory</h1>
        <hr class="topic-hr"> 
        <h2 class="page-subtitle-off-card uppercase">for trusted neighbors only</h2>
      </div>
      <div class="large-screen-flex-row">
      <% if (users.length === 0) { %> 
      <p>There are no current members.</p>
      <% } else { users.forEach(function(user) { %> 
          <% if (user && (user.permission_status === "member" || user.permission_status === "admin")) { %> 
          <div class="card member-card">
            <div class="profile-data-container">
              <div class="member-directory-extra-avatar-container avatar-background" 
              style="
                --avatar-color-fg: <%= user.avatar_color_fg || 'var(--off-black)' %>;
                --avatar-color-bg-top: <%= user.avatar_color_bg_top || 'var(--off-white)' %>;
                --avatar-color-bg-bottom: <%= user.avatar_color_bg_bottom || 'var(--off-gray)' %>;
              ">
                <div 
                  class="avatar-container avatar-container-size-large">
                  <span class="emoji emoji-size-largest" role="image" aria-label="avatar image">
                    <%= user.avatar_type %>
                  </span>
                </div>           
              </div>
              <dl class="profile-data-dl">
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">name</dt>
                  <dd class="capitalize"><%= user.first_name %> <%= user.last_name %></dd>
                </div class="app-relevant-data">
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">email</dt>
                  <dd><%= user.email%></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">phone</dt>
                  <dd><%= user.phone || "n/a" %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">street</dt>
                  <dd><%= user.street_address || "n/a" %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">apt/unit</dt>
                  <dd><%= user.apt_unit || "n/a" %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">city</dt>
                  <dd><%= user.city || "n/a" %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">state</dt>
                  <dd><%= user.us_state || "n/a" %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">zip code</dt>
                  <dd><%= user.zip_code || "n/a" %></dd>
                </div>
              </dl>
            </div>
          </div>
          <% } %>
        <% })}; %>
        </div>
    </main>
    <%- include('./partials/modal-root.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
