<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="page-title-off-card uppercase">
        <h1>membership invitation</h1>
      </div>
      <div class="card">
        <div class="ui-message element-container-col-start-center flex-gap">
          <p>
            Congratulations, <span class="bold"><%= formData.first_name %> <%= formData.last_name %></span> this invite is only issued to trusted neighborhood residents, who are, or were, active in the
            <span class="red-letter">C.A.N.</span> 
            organization.
          </p>
          <p>
            By agreeing to opt in (see below), you upgrade from <span class="italic">guest</span> to <span class="italic">member</span> status, which gives you access to many site features, such as the <span class="bold capitalize">member directory</span>, a handy list of other members' addresses, emails, and phone numbers. 
          </p>
          <p>
            Clicking the accept button acknowledges that you permit this site to add the following requested fields to the member directory.
          </p>
          <p>Note: maintaining member status is contingent upon adherence to site policies (see <a class="text-link" href="/app/info">Site Information</a>).</p>
        </div>
        <br>
        <!-- <form id="member-invite-form" method="POST"> -->
        <form action="/app/member-invite/accepted" method="POST">
          <!-- <input id="member-invite-target-id" type="hidden" name="targetId" /> -->
          <input
            name="permission_status"
            value="member"
            hidden
          />
          <input
            name="invite_decision"
            value="accepted"
            hidden
          />
          <label class="capitalize" for="phone-member-invite-page"> phone </label>
          <input
            id="phone-member-invite-page"
            type="tel"
            name="phone"
            value="<%= formData?.phone || '' %>"
            required
          />
          <label class="capitalize" for="street-address-member-invite-page">
            street address
          </label>
          <input
            id="street-address-member-invite-page"
            type="text"
            name="street_address"
            value="<%= formData?.street_address || '' %>"
            required
          />
          <label class="capitalize" for="apt-unit-member-invite-page">
              apt/unit
          </label>
          <input
            id="apt-unit-member-invite-page"
            type="text"
            name="apt_unit"
            value="<%= formData?.apt_unit || '' %>"
          />
          <label class="capitalize" for="city-member-invite-page"> city </label>
          <input
            id="city-member-invite-page"
            type="text"
            name="city"
            value="<%= formData?.city || '' %>"
            required
          />
          <label class="capitalize" for="us-state-member-invite-page">
            state
          </label>
          <select id="us-state-member-invite-page" name="us_state" required>
            <option value="" disabled <%= !formData?.us_state ? "selected" : "" %>>Choose state</option>
            <% usStates.forEach((state) => { %>
              <option value="<%= state.code %>" <%= formData?.us_state === state.code ? "selected" : "" %>>
                <%= state.name %>
              </option>
            <% }) %>
          </select>
          <label class="capitalize" for="zip-code-member-invite-page"> zip </label>
          <input
            id="zip-code-member-invite-page"
            type="text"
            name="zip_code"
            value="<%= formData?.zip_code || '' %>"
            required
          />   
          <div class="button-container-row-space-evenly">
            <button class="button-default wide-button" type="submit">accept invite</button>
          </div>
        </form>
        <form action="/app/member-invite/declined" method="POST">
          <!-- <input
            name="permission_status"
            value="guest"
            hidden
          /> -->
          <input
            name="invite_decision"
            value="declined"
            hidden
          />
          <div class="button-container-row-space-evenly">
            <button class="button-default wide-button" type="submit">decline invite</button>
          </div>
        </form>
      </div>
    </main>
    <%- include('./partials/modal-root.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>