<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="page-title-off-card uppercase">
        <h1>member directory</h1>
      </div>
      <!-- <div class="card member-card"> -->
      <% if (users.length === 0) { %> 
      <p>There are no current members.</p>
      <% } else { users.forEach(function(user) { %> 
          <% if (user.permission_status === "member") { %> 
          <div class="card member-card">
            <div class="profile-data">
              <div class="avatar-image-container-wide">
                <div 
                  class="avatar-image-circle avatar-circle-large" 
                  style="
                    --avatar-color-fg: <%= user.avatar_color_fg || 'var(--off-black)' %>;
                    --avatar-color-bg-top: <%= user.avatar_color_bg_top || 'var(--off-white)' %>;
                    --avatar-color-bg-bottom: <%= user.avatar_color_bg_bottom || 'var(--off-gray)' %>;
                  ">
                  <span class="emoji avatar-emoji-large-size" role="img" aria-label="avatar image">
                    <%= user.avatarLetter %>
                  </span>
                </div>            
              </div>
              <dl class="profile-data-dl">
                <div>
                  <dt class="capitalize">name</dt>
                  <dd class="capitalize bold"><%= user.first_name %> <%= user.last_name %></dd>
                </div>
                <div>
                  <dt class="capitalize">status</dt>
                  <dd class="bold"><%= user.permission_status %></dd>
                </div>
                <div>
                  <dt class="capitalize">email</dt>
                  <dd class="bold"><%= user.email%></dd>
                </div>
                <div>
                  <dt class="capitalize">phone</dt>
                  <dd class="bold"><%= user.phone || "n/a" %></dd>
                </div>
                <!-- <div>
                  <dt class="capitalize">birthdate</dt>
                  <dd class="bold"><%#= user.formattedBirthdate %> (age: <%#= user.age %>)</dd>
                </div> -->
                <div>
                  <dt class="capitalize">street</dt>
                  <dd class="bold"><%= user.street_address || "n/a" %></dd>
                </div>
                <div>
                  <dt class="capitalize">apt/unit</dt>
                  <dd class="bold"><%= user.apt_unit || "n/a" %></dd>
                </div>
                <div>
                  <dt class="capitalize">city</dt>
                  <dd class="bold"><%= user.city || "n/a" %></dd>
                </div>
                <div>
                  <dt class="capitalize">state</dt>
                  <dd class="bold"><%= user.us_state || "n/a" %></dd>
                </div>
                <div>
                  <dt class="capitalize">zip code</dt>
                  <dd class="bold"><%= user.zip_code || "n/a" %></dd>
                </div>
              </dl>
            </div>
          </div>
          <% } %>
        <% })}; %>
      <!-- </div> -->
    </main>
    <%- include('./partials/modal-root.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
