<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <main>
      <div class="card">
        <div class="page-title uppercase">
          <h1>sign up</h1>
        </div>
        <div class="ui-message">
          <p>
            Signing up is required if you wish to peruse or post on the
            <span class="red-letter">C</span>apital
            <span class="red-letter">A</span>rea
            <span class="red-letter">N</span>eigborhood Message Board.
          </p>
        </div>
        <form class="black" action="/app/sign-up" method="POST">
          <label for="first-name-sign-up"> first name </label>
          <input
            id="first-name-sign-up"
            type="text"          
            name="first_name"
            value="<%= formData?.first_name || '' %>"
            placeholder="enter first name"
            required
          />
          <label for="last-name-sign-up"> last name </label>
          <input
            id="last-name-sign-up"
            type="text"          
            name="last_name"
            value="<%= formData?.last_name || '' %>"
            placeholder="enter last name"
            required
          />
          <label for="email-sign-up"> email </label>
          <input
            id="email-sign-up"
            type="email"            
            name="email"
            value="<%= formData?.email || '' %>"
            placeholder="enter email address"
            required
          />
          <label for="birthdate-sign-up"> birthdate </label>
          <input
            id="birthdate-sign-up"
            type="date"            
            name="birthdate"
            value="<%= formData?.birthdate || '' %>"
            placeholder="enter birthdate"
            required
          />
          <label for="password-sign-up"> password </label>
          <input
            id="password-sign-up"
            type="password"
            name="password"
            placeholder="select a password"
            required
          />
          <label for="confirm-password-sign-up"> confirm password </label>
          <input
            id="confirm-password-sign-up"
            type="password"
            name="confirm_password"
            placeholder="re-enter chosen password"
            required
          />
          <div class="button-container-row-space-evenly">
            <a class="button-default narrow-button " href="/app/">home</a>
            <button class="button-default narrow-button " type="submit">submit</button>
          </div>
        </form>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
