<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <div>
        <h1 class="page-title-off-card uppercase"><%= topic.name %></h1>
        <hr class="topic-hr">
        <h2 class="page-subtitle-off-card uppercase"><%= topic.description %></h2>
      </div>

      <div class="topic-card">
        <% if (messages.length === 0) { %>
          <div class="element-container-row-center-start ui-message ui-message-bubble"><span class="emoji emoji-size-small margin-right">🤓</span><p>There are no current messages in this topic thread. Be the first to add a new post here!</p></div>
        <% } else { %>
          <% messages.forEach(message => { %>
            <%- include('./partials/message-card', { message }) %>
          <% }) %>
        <% } %>
      </div>
    </main>
    <%- include('./partials/modal-root.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
