<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <div>
        <h1 class="page-title-off-card uppercase"><%= topic.name %></h1>
        <hr>
        <h2 class="page-subtitle-off-card uppercase"><%= topic.description %></h2>
      </div>

      <div class="topic-card">
        <% if (messages.length === 0) { %>
          <p>No messages yet. Be the first to post!</p>
        <% } else { %>
          <% messages.forEach(message => { %>
            <%- include('./partials/message-card', { message }) %>
          <% }) %>
        <% } %>
      </div>
    </main>
    <%- include('./partials/modal-root.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
