<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="page-title-off-card uppercase">
        <h1>your profile</h1>
      </div>
      <div class="card your-profile-card">
        <!-- TODO - refactor this, only logged in currentUsers should even be on this app -->
        <% if (!currentUser) { %> 
        <p>No current user is logged in.</p>
        <% } else { %>
            <div class="profile-data-container">
              <!-- <div class="avatar-image-container-wide">
                <div 
                  class="avatar-image-container circle avatar-circle-large" 
                  style="
                    --avatar-color-fg: <%#= currentUser.avatar_color_fg || 'var(--off-black)' %>;
                    --avatar-color-bg-top: <%#= currentUser.avatar_color_bg_top || 'var(--off-white)' %>;
                    --avatar-color-bg-bottom: <%#= currentUser.avatar_color_bg_bottom || 'var(--off-gray)' %>;
                  ">
                  <span class="emoji avatar-emoji-large-size" role="img" aria-label="avatar image">
                    <%#= currentUser.avatarLetter %>
                  </span>
                </div>            
              </div> -->
              <div class="element-container-row-default margin-bottom">
                <div 
                  class="avatar-container avatar-container-size-large avatar-background circle " 
                  style="
                    --avatar-color-fg: <%= currentUser.avatar_color_fg || 'var(--off-black)' %>;
                    --avatar-color-bg-top: <%= currentUser.avatar_color_bg_top || 'var(--off-white)' %>;
                    --avatar-color-bg-bottom: <%= currentUser.avatar_color_bg_bottom || 'var(--off-gray)' %>;
                  ">
                  <span class="emoji emoji-size-large" role="image" aria-label="avatar image">
                    <%#= currentUser.avatarLetter %>
                    <%= currentUser.avatar_type %>
                  </span>
                </div>           
              </div>
              <dl class="profile-data-dl margin-bottom">
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">name</dt>
                  <dd class="capitalize"><%= currentUser.first_name %> <%= currentUser.last_name %></dd>
                </div>
                <div class="app-relevant-data">
                  <dt class="capitalize">status</dt>
                  <dd><%= currentUser.permission_status %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">email</dt>
                  <dd class="word-breaker"><%= currentUser.email%></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">phone</dt>
                  <dd><%= currentUser.phone || "n/a" %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">birthdate</dt>
                  <dd><%= currentUser.formattedBirthdate %> (age: <%= currentUser.age %>)</dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">street</dt>
                  <dd><%= currentUser.street_address || "n/a" %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">apt/unit</dt>
                  <dd><%= currentUser.apt_unit || "n/a" %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">city</dt>
                  <dd><%= currentUser.city || "n/a" %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">state</dt>
                  <dd><%= currentUser.us_state || "n/a" %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">zip code</dt>
                  <dd><%= currentUser.zip_code || "n/a" %></dd>
                </div>
              </dl>
              <div class="button-container-col">
                <% if (currentUser && currentUser.permission_status !== "admin") { %>
                  <button 
                    class="button-default wide-button delete-button"
                    data-section="modal-warning-account-deletion"
                    data-title="modal-title-warning-account-deletion"
                    data-target-id="<%= currentUser.id %>"
                    data-action="/app/your-profile/delete-your-account"
                  >
                  delete your account
                  </button> 
                <% } %>
                <% if (currentUser && currentUser.permission_status === "guest" && currentUser.member_request === false) { %>
                  <button 
                    class="button-default wide-button open-modal-btn" 
                    data-section="modal-become-member" 
                    data-title="modal-title-become-member"
                    data-target-id="<%= currentUser.id %>">
                    upgrade to member
                  </button>
                <% } %>
                <button 
                  class="button-default wide-button open-modal-btn" 
                  data-section="modal-edit-profile"
                  data-title="modal-title-edit-profile"
                  data-target-id="<%= currentUser.id %>">
                    update your profile
                  </button>
                <button 
                  class="button-default wide-button edit-change-avatar-button" 
                  data-section="modal-change-avatar-user"
                  data-title="modal-title-change-avatar-user"
                  data-target-id="<%= currentUser.id %>"
                  >
                  change your avatar
                </button>
                <% if (currentUser && currentUser.permission_status !== "guest") { %>
                  <a class="button-default wide-button" href="/app/member-directory">member directory</a>
                <% } %>
              </div>
            </div>
          <% } %>
      </div>
    </main>
    <%- include('./partials/modal-root.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
