<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
    <body data-reopen-modal="<%= reopenModal === true ? 'true' : 'false' %>">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="page-title-off-card uppercase">
        <h1>your profile</h1>
      </div>
      <div class="card your-profile-card">
        <% if (!user) { %> 
        <p>No current user is logged in.</p>
        <% } else { %>
            <div class="profile-data-container">
              <div class="element-container-row-default margin-bottom">
                <div 
                  class="avatar-container avatar-container-size-large avatar-background circle margin-bottom " 
                    <%- include('./partials/avatar-color-data-helper.ejs', { obj: userProfile }) %>
                  >
                  <span class="emoji emoji-size-large" role="image" aria-label="avatar image">
                    <%= user.avatar_type %>
                  </span>
                </div>           
              </div>
              <dl class="profile-data-dl margin-bottom">
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">name</dt>
                  <dd class="capitalize"><%= userProfile.first_name %> <%= userProfile.last_name %></dd>
                </div>
                <div class="app-relevant-data">
                  <dt class="capitalize">status</dt>
                  <dd><%= userProfile.permission_status %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">email</dt>
                  <dd class="word-breaker"><%= userProfile.email%></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">phone</dt>
                  <dd><%= userProfile.phone || "n/a" %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">birthdate</dt>
                  <dd><%= userProfile.formattedBirthdate %> (age: <%= userProfile.age %>)</dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">street</dt>
                  <dd><%= userProfile.street_address || "n/a" %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">apt/unit</dt>
                  <dd><%= userProfile.apt_unit || "n/a" %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">city</dt>
                  <dd><%= userProfile.city || "n/a" %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">state</dt>
                  <dd><%= userProfile.us_state || "n/a" %></dd>
                </div>
                <div class="neighbor-relevant-data">
                  <dt class="capitalize">zip code</dt>
                  <dd><%= userProfile.zip_code || "n/a" %></dd>
                </div>
              </dl>
              <div class="button-container-col">
                <% if (user && user.permission_status !== "admin") { %>
                  <button 
                    class="button-default wide-button action-target-button"
                    data-section="modal-warning-account-deletion"
                    data-title="modal-title-warning-account-deletion"
                    data-target-id="<%= user.id %>"
                    data-action="/app/your-profile/delete-your-account"
                  >
                  delete your account
                  </button> 
                <% } %>
                <a class="button-default wide-button" href="/app/edit-profile">update your profile</a>
                <button 
                  class="button-default wide-button edit-change-avatar-button" 
                  data-section="modal-change-avatar-user"
                  data-title="modal-title-change-avatar-user"
                  data-target-id="<%= user.id %>"
                  >
                  change your avatar
                </button>
                <% if (user && user.permission_status !== "guest") { %>
                  <a class="button-default wide-button" href="/app/member-directory">member directory</a>
                <% } %>
                <a class="button-default wide-button <%= canPerformHasRole(user, 'guest-members-upgrade') ? '' : 'hidden' %>" href="/app/member-invite">member invitation</a>
              </div>
            </div>
          <% } %>
      </div>
    </main>
    <%- include('./partials/modal-root.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
