<% if (users.length === 0) { %> 
<p>No users yet. Be the first to join!</p>
<% } else { users.forEach(function(user) { %>
  <form class="profile-data-form" action="/app/????" method="POST">
      <label class="capitalize" for="first_name">
        first name (fname)
      </label>
        <input 
          class="bold"           
          type="text"
          id="first_name"
          name="first_name"
          value="<%= user.first_name %>"
          required
        />        
      <label class="capitalize" for="last_name">
        last name (lname)
      </label>
        <input 
          class="bold"
          type="text"
          id="last_name"
          name="last_name"
          value="<%= user.last_name %>"
          required
        />        
      <label class="capitalize" for="verified_by_admin">
        verified by admin
      </label>
        <input 
          class="lowercase bold"
          type="text"
          id="verified_by_admin"
          name="verified_by_admin"
          value="<%= user.verified_by_admin %>"
          required
        />        
      <label class="capitalize" for="permission_status">
        user status
      </label>
        <input 
          class="lowercase bold"
          type="text"
          id="permission_status"
          name="permission_status"
          value="<%= user.permission_status %>"
          required
        />        
      <label class="capitalize" for="upgrade_request">
        user issued upgrade request
      </label>
        <input 
          class="lowercase bold"
          type="text"
          id="upgrade_request"
          name="upgrade_request"
          value="<%= user.member_request %>"
          required
        />        
      <label class="capitalize" for="email">
        email address
      </label>
        <input 
          class=" lowercase bold" 
          type="email"
          id="email"
          name="email"
          value="<%= user.email %>"
          required
        />        
      <label class="capitalize" for="phone">
        phone
      </label>
        <input 
          class="bold"
          type="phone"
          id="phone"
          name="phone"
          value="<%= user.phone || "" %>"
          required
        />        
      <label class="capitalize" for="birthdate">
        birthdate
      </label>
        <input 
          class="bold"
          type="date"
          id="birthdate"
          name="birthdate"
          value="<%= user.birthdate %>"
          required
        />        
        <label class="capitalize" for="street_address">
          street address
        </label>
          <input 
            class="bold" 
            type="text"
            id="street_address"
            name="street_address"
            value="<%= user.street_address || "" %>"
            required
          />          
        <label class="capitalize" for="apt_unit">
          apt/unit
        </label>
          <input 
            class="bold"
            type="text"
            id="apt_unit"
            name="apt_unit"
            value="<%= user.apt_unit || "" %>"
            required
          />          
        <label class="capitalize" for="city">
          city
        </label>
          <input 
            class="bold"
            type="text"
            id="city"
            name="city"
            value="<%= user.city || "" %>"
            required
          />          
        <label class="capitalize" for="us_state">
          state
        </label>
          <input 
            class="bold"
            type="text"
            id="us_state"
            name="us_state"
            value="<%= user.us_state || "" %>"
            required
          />
        <label class="capitalize" for="zip_code">
          zip code
        </label>
          <input 
            class="bold"           
            type="text"
            id="zip_code"
            name="zip_code"
            value="<%= user.zip_code || "" %>"
            required
          />
      <div class="button-container">
      <button class="wide-button" type="submit">submit profile changes</button>
    </div>
  </form>
<% }) %>
<% } %>