<div id="modal" class="modal hidden" role="dialog" aria-modal="true">
  <div class="modal-overlay" data-close-modal></div>
  <div class="modal-content-card" role="document">
    <button
      class="close-button cancel-button"
      aria-label="close modal"
      data-close-modal
    >
      <span class="emoji">❌</span>
    </button>
    <%# -- New Message -- %>
    <div class="modal-section hidden" id="modal-new-message">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-new-message">new message</h1>
      </div>
      <%- include('./modals/new-message.ejs') %>
    </div>
    <%# -- Reply Message -- %>
    <div class="modal-section hidden" id="modal-reply-message">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-reply-message">reply message</h1>
      </div>
      <%- include('./modals/reply-message.ejs') %>
    </div>
    <%# -- Edit Message -- %>
    <div class="modal-section hidden" id="modal-edit-message">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-edit-message">edit message</h1>
      </div>
      <%- include('./modals/edit-message.ejs') %>
    </div>
    <%# -- Warning - Account Deletion -- %>
    <div class="modal-section hidden" id="modal-warning-account-deletion">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-warning-account-deletion">warning!</h1>
      </div>
      <%- include('./modals/warning-account-deletion.ejs') %>
    </div>
    <%# -- Warning - Message Deletion -- %>
    <div class="modal-section hidden" id="modal-warning-message-deletion">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-warning-message-deletion">warning!</h1>
      </div>
      <%- include('./modals/warning-message-deletion.ejs') %>
    </div>
    <%# -- Change Avatar -- %>
    <div class="modal-section hidden" id="modal-change-avatar-user">
      <div class="page-title-modal uppercase">
        <h1 id="modal-title-change-avatar-user">Edit Avatar</h1>
      </div>
      <%- include('./modals/change-avatar.ejs') %>
    </div>
  </div>
</div>
